.flex shopping-card {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.image{
  border: 1px solid #c9c9c9;
  padding: 20px;
  width: 260px;
  height: 260px;
  box-shadow: 0 4px 10px rgba(82, 82, 82, 0.267);
  
  
}

.shopping-card {
  font-size: 50px;
  font-family:fantasy;
  justify-content: space-between;
  background-color: #7361fb95;
  padding: 20px 30px;
  border-style: solid;
}

.product-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffbfb4b;
  align-items: center;
  color: #050505;
  justify-content: center;
  padding: 40px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(82, 82, 82, 0.267);
  margin: 30px;
  object-fit: cover;
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #151616;
  border-radius: 5px;
  color: #faf5f5;
  background-color: #3498db;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn:hover{
  background-color: #2980b9;
  border-color: #2980b9;
  color: #fff;
}
